__pycache__/database.cpython-311.pyc
__pycache__/scraper.cpython-311.pyc
__pycache__/ui.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
src/__pycache__/scraper.cpython-311.pyc
src/__pycache__/utils.cpython-311.pyc
src/__pycache__/database.cpython-311.pyc
src/__pycache__/ui.cpython-311.pyc
